@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #190C05;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.label {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: #F6762C;
}

.label_line::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 45px;
  height: 1px;
  background-color: #F6762C;
}

.title {
  font-weight: 700;
  font-size: 39px;
  line-height: 145%;
  color: #190C05;
  opacity: 0.8;
}

.text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #190C05;
  opacity: 0.6;
}

.button {
  padding: 15px 30px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  color: #FFFFFF;
  border-radius: 10px;
}

.button_black {
  background: #190C05;
  -webkit-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
  transition: background 0.2s ease 0s;
}

.button_black:hover {
  background: #2e170a;
}

.button_orange {
  background: #F6762C;
  -webkit-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
  transition: background 0.2s ease 0s;
}

.button_orange:hover {
  background: #fd8b49;
}

.button_border {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border: 2px solid rgb(246, 118, 44);
  color: #F6762C;
  background: white;
}

.button_border:hover {
  background: #F6762C;
  color: #FFFFFF;
}

.button_noborder {
  padding: 0;
  line-height: 1.5;
  opacity: 0.6;
  color: #190C05;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button_noborder:hover {
  opacity: 0.5;
}

.header {
  position: fixed;
  background: rgba(255, 230, 217, 0.945);
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.header__logo img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list:not(:last-child) {
  margin-bottom: 45px;
}

.menu__item {
  line-height: 1.5;
  color: rgba(25, 12, 5, 0.408);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__item:hover {
  color: rgba(25, 12, 5, 0.328);
}

.menu__item .active {
  color: #F6762C;
}

.icon-menu {
  display: none;
  margin-left: 30px;
}

.footer {
  background: #FFE6D9;
  padding-top: 78px;
  padding-bottom: 35px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 50px;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 262px;
          flex: 1 1 262px;
}

.footer__column:not(:last-child) {
  padding-right: 20px;
}

.footer__logo:not(:last-child) {
  margin-bottom: 5px;
}

.footer__text {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

.footer__text:not(:last-child) {
  margin-bottom: 40px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.8;
}

.footer__label:not(:last-child) {
  margin-bottom: 30px;
}

.footer__item {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__item:hover {
  opacity: 0.4;
}

.footer__form {
  position: relative;
}

.footer__form:not(:last-child) {
  margin-bottom: 20px;
}

.footer__submit {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.footer__input {
  width: 100%;
  padding: 13px 23px;
  background: #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
}

.footer__copyright {
  text-align: center;
  line-height: 1.5;
  opacity: 0.6;
}

.footer__copyright::before {
  content: "";
  display: block;
  opacity: 0.2;
  border: 1px solid #190C05;
  margin-bottom: 35px;
  margin-top: 70px;
}

.main-block {
  position: relative;
  background: #FFE6D9;
}

.main-block::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 88%;
  right: 0;
  bottom: 0;
  background-image: url(../img/triangle-decoration.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.main-block__header:not(:last-child) {
  margin-bottom: 45px;
}

.main-block__label:not(:last-child) {
  margin-bottom: 17px;
}

.main-block__title:not(:last-child) {
  margin-bottom: 30px;
}

.main-block__text {
  max-width: 432px;
}

.main-block__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-block__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /*
  704 100
  x   50
  */
  position: relative;
}

.main-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.triangle-decoration {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 0;
}

.about {
  padding-top: 110px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  position: relative;
}

.about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__header:not(:last-child) {
  margin-bottom: 45px;
}

.about__label:not(:last-child) {
  margin-bottom: 13px;
}

.about__title:not(:last-child) {
  margin-bottom: 25px;
}

.features {
  padding-top: 110px;
}

.features__header {
  text-align: center;
}

.features__header:not(:last-child) {
  margin-bottom: 60px;
}

.features__label:not(:last-child) {
  margin-bottom: 13px;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 50px;
}

.features__item {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  min-width: 300px;
}

.item-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item-features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  width: 80px;
}

.item-features__icon img {
  max-width: 100%;
  max-height: 80px;
}

.item-features__icon:not(:last-child) {
  margin-bottom: 25px;
}

.item-features__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.52;
  opacity: 0.8;
}

.item-features__title:not(:last-child) {
  margin-bottom: 15px;
}

.item-features__text {
  padding: 0px 28px;
  line-height: 150%;
  opacity: 0.6;
}

.download {
  padding-top: 110px;
}

.download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 458px;
          flex: 0 1 458px;
}

.download__header:not(:last-child) {
  margin-bottom: 40px;
}

.download__label:not(:last-child) {
  margin-bottom: 13px;
}

.download__title:not(:last-child) {
  margin-bottom: 30px;
}

.download__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.download__icon img {
  max-width: 100%;
  max-height: 100%;
}

.download__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.download__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.recipes {
  padding-bottom: 110px;
  padding-top: 110px;
}

.recipes__header {
  text-align: center;
}

.recipes__header:not(:last-child) {
  margin-bottom: 153px;
}

.recipes__label:not(:last-child) {
  margin-bottom: 13px;
}

.recipes__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 150px;
}

.item-recipe {
  background: rgba(246, 118, 44, 0.02);
  border: 2px solid rgba(246, 118, 44, 0.2);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 70px;
}

.item-recipe__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-recipe__header:not(:last-child) {
  margin-bottom: 30px;
}

.item-recipe__image {
  margin-top: -92px;
  width: 175px;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-recipe__image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-recipe__price {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #190C05;
  border: 2px solid #FFFFFF;
}

.item-recipe__price::before {
  content: "$";
}

.item-recipe__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.52;
  opacity: 0.8;
}

.item-recipe__title:not(:last-child) {
  margin-bottom: 15px;
}

.item-recipe__text {
  font-size: 16px;
  line-height: 150%;
  opacity: 0.6;
  padding: 0px 25px;
}

.item-recipe__button {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (min-width: 47.99875em) {
  .main-block__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 502px;
            flex: 0 1 502px;
  }

  .about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44.2105263158%;
            flex: 0 0 44.2105263158%;
    padding: 0px 0px 44.8245614035% 0px;
  }

  .about__content:not(:first-child) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 432px;
            flex: 0 1 432px;
  }
}

@media (min-width: 47.99875em) and (min-width: 71.25em) {
  .main-block__image {
    -ms-flex-preferred-size: 44rem;
        flex-basis: 44rem;
  }

  .main-block__image {
    height: 35.0625rem;
  }

  .about__content:not(:first-child) {
    margin-left: 5.0625rem;
  }
}

@media (min-width: 61.99875em) {
  .header__logo {
    -ms-flex-preferred-size: 7.25rem;
        flex-basis: 7.25rem;
  }

  .menu__item {
    font-size: 1rem;
  }
}

@media (min-width: 71.25em) {
  .header__logo:not(:last-child) {
    margin-right: 16.875rem;
  }

  .menu__list {
    -webkit-column-gap: 2.8125rem;
       -moz-column-gap: 2.8125rem;
            column-gap: 2.8125rem;
  }

  .main-block__image {
    margin-right: -5.25rem;
  }

  .features__header:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .download__image {
    margin-right: -10.6875rem;
  }

  .download__image {
    -ms-flex-preferred-size: 50.4375rem;
        flex-basis: 50.4375rem;
  }

  .download__image {
    height: 44.6875rem;
  }
}

@media (min-width: 73.125em) {
  .main-block {
    padding-top: 9.125rem;
  }

  .main-block {
    padding-bottom: 5.0625rem;
  }
}

@media (min-width: 48em) {
  .download__icon {
    width: 9.75rem;
  }

  .download__icon {
    height: 3.375rem;
  }
}

@media (max-width: 62em) {
  .main-block__image {
    margin-right: 0.0000000625rem;
  }

  .download__image {
    margin-right: 0.0000000625rem;
  }
}

@media (max-width: 48em) {
  .header__logo {
    -ms-flex-preferred-size: 5.8125rem;
        flex-basis: 5.8125rem;
  }

  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .menu__item {
    font-size: 0.875rem;
  }

  .features__header:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .download__image {
    -ms-flex-preferred-size: 25.25rem;
        flex-basis: 25.25rem;
  }
}

@media (max-width: 30em) {
  .download__icon {
    width: 7.5625rem;
  }

  .download__icon {
    height: 2.625rem;
  }
}

@media (max-width: 20em) {
  .main-block {
    padding-top: 8.125rem;
  }

  .main-block {
    padding-bottom: 3.4375rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .recipes__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 53.125em) {
  .header__logo:not(:last-child) {
    margin-right: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding: 5px 0;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .header__menu {
    overflow: auto;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    background: #ffeadf;
  }

  .header__menu::before {
    top: 0;
    content: "";
    position: fixed;
    width: 100%;
    right: -100%;
    background: #FFE6D9;
    padding-bottom: 1.875rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .menu-open .header__menu {
    right: 0;
  }

  .menu-open .header__menu::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 40px;
  }

  .menu__item {
    font-size: 32px;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #190C05;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block::before {
    top: 0;
    height: 100%;
  }

  .main-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 55px;
  }

  .main-block__image {
    width: 100%;
    height: 300px;
  }

  .about__container {
    row-gap: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__image {
    width: 100%;
    padding: 0px 0px 67.2368421053% 0px;
  }

  .download__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 65px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .download__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .download__image {
    height: 22.3125rem;
  }

  .recipes__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__menu {
    padding-top: 6.75rem;
  }

  .download__image {
    -ms-flex-preferred-size: 18.75rem;
        flex-basis: 18.75rem;
  }

  .download__image {
    height: 15rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 48em) {
  .header__menu::before {
    height: 5.5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.5em) {
  .footer__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 29.99875em) {
  .header__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1.875rem;
  }

  .header__buttons .button {
    font-size: 30px;
  }

  .main-block__button {
    display: block;
  }

  .about__button {
    display: block;
  }
}

@media (min-width: 53.125em) and (max-width: 71.25em) {
@supports (margin-right: clamp( 1.25rem , -44.5474137931rem  +  86.2068965517vw , 16.875rem )) {
    .header__logo:not(:last-child) {
      margin-right: clamp( 1.25rem , -44.5474137931rem  +  86.2068965517vw , 16.875rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , -44.5474137931rem  +  86.2068965517vw , 16.875rem )) {
    .header__logo:not(:last-child) {
      margin-right: calc(1.25rem + 15.625 * (100vw - 53.125rem) / 18.125);
    }
}
}

@media (min-width: 48em) and (max-width: 61.99875em) {
@supports (flex-basis: clamp( 5.8125rem , 0.8834884811rem  +  10.2687739977vw , 7.25rem )) {
    .header__logo {
      -ms-flex-preferred-size: clamp( 5.8125rem , 0.8834884811rem  +  10.2687739977vw , 7.25rem );
          flex-basis: clamp( 5.8125rem , 0.8834884811rem  +  10.2687739977vw , 7.25rem );
    }
}

@supports not (flex-basis: clamp( 5.8125rem , 0.8834884811rem  +  10.2687739977vw , 7.25rem )) {
    .header__logo {
      -ms-flex-preferred-size: calc(5.8125rem + 1.4375 * (100vw - 48rem) / 13.99875);
          flex-basis: calc(5.8125rem + 1.4375 * (100vw - 48rem) / 13.99875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.4463903027rem  +  0.8929368694vw , 1rem )) {
    .menu__item {
      font-size: clamp( 0.875rem , 0.4463903027rem  +  0.8929368694vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.4463903027rem  +  0.8929368694vw , 1rem )) {
    .menu__item {
      font-size: calc(0.875rem + 0.125 * (100vw - 48rem) / 13.99875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 73.125em) {
  .header__menu {
    padding-top: 7.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 73.125em) {
@supports (padding-top: clamp( 6.75rem , 6.4441176471rem  +  1.5294117647vw , 7.5625rem )) {
    .header__menu {
      padding-top: clamp( 6.75rem , 6.4441176471rem  +  1.5294117647vw , 7.5625rem );
    }
}

@supports not (padding-top: clamp( 6.75rem , 6.4441176471rem  +  1.5294117647vw , 7.5625rem )) {
    .header__menu {
      padding-top: calc(6.75rem + 0.8125 * (100vw - 20rem) / 53.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 61.99875em) {
  .header__menu::before {
    height: 5.6875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 48em) and (max-width: 61.99875em) {
@supports (height: clamp( 5.5rem , 4.8570854541rem  +  1.339405304vw , 5.6875rem )) {
    .header__menu::before {
      height: clamp( 5.5rem , 4.8570854541rem  +  1.339405304vw , 5.6875rem );
    }
}

@supports not (height: clamp( 5.5rem , 4.8570854541rem  +  1.339405304vw , 5.6875rem )) {
    .header__menu::before {
      height: calc(5.5rem + 0.1875 * (100vw - 48rem) / 13.99875);
    }
}
}

@media (min-width: 48em) and (max-width: 71.25em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -1.0181451613rem  +  5.376344086vw , 2.8125rem )) or (column-gap: clamp( 1.5625rem , -1.0181451613rem  +  5.376344086vw , 2.8125rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , -1.0181451613rem  +  5.376344086vw , 2.8125rem );
         -moz-column-gap: clamp( 1.5625rem , -1.0181451613rem  +  5.376344086vw , 2.8125rem );
              column-gap: clamp( 1.5625rem , -1.0181451613rem  +  5.376344086vw , 2.8125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -1.0181451613rem  +  5.376344086vw , 2.8125rem )) or (column-gap: clamp( 1.5625rem , -1.0181451613rem  +  5.376344086vw , 2.8125rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.25 * (100vw - 48rem) / 23.25);
         -moz-column-gap: calc(1.5625rem + 1.25 * (100vw - 48rem) / 23.25);
              column-gap: calc(1.5625rem + 1.25 * (100vw - 48rem) / 23.25);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.8346774194rem  +  2.688172043vw , 3.75rem )) {
    .features__header:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 1.8346774194rem  +  2.688172043vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.8346774194rem  +  2.688172043vw , 3.75rem )) {
    .features__header:not(:last-child) {
      margin-bottom: calc(3.125rem + 0.625 * (100vw - 48rem) / 23.25);
    }
}

@supports (flex-basis: clamp( 25.25rem , -26.75rem  +  108.3333333333vw , 50.4375rem )) {
    .download__image {
      -ms-flex-preferred-size: clamp( 25.25rem , -26.75rem  +  108.3333333333vw , 50.4375rem );
          flex-basis: clamp( 25.25rem , -26.75rem  +  108.3333333333vw , 50.4375rem );
    }
}

@supports not (flex-basis: clamp( 25.25rem , -26.75rem  +  108.3333333333vw , 50.4375rem )) {
    .download__image {
      -ms-flex-preferred-size: calc(25.25rem + 25.1875 * (100vw - 48rem) / 23.25);
          flex-basis: calc(25.25rem + 25.1875 * (100vw - 48rem) / 23.25);
    }
}
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (padding-top: clamp( 8.125rem , 7.7485294118rem  +  1.8823529412vw , 9.125rem )) {
    .main-block {
      padding-top: clamp( 8.125rem , 7.7485294118rem  +  1.8823529412vw , 9.125rem );
    }
}

@supports not (padding-top: clamp( 8.125rem , 7.7485294118rem  +  1.8823529412vw , 9.125rem )) {
    .main-block {
      padding-top: calc(8.125rem + 1 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.4375rem , 2.8257352941rem  +  3.0588235294vw , 5.0625rem )) {
    .main-block {
      padding-bottom: clamp( 3.4375rem , 2.8257352941rem  +  3.0588235294vw , 5.0625rem );
    }
}

@supports not (padding-bottom: clamp( 3.4375rem , 2.8257352941rem  +  3.0588235294vw , 5.0625rem )) {
    .main-block {
      padding-bottom: calc(3.4375rem + 1.625 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 71.25em) {
@supports (flex-basis: clamp( 26.3125rem , -10.2036290323rem  +  76.0752688172vw , 44rem )) {
    .main-block__image {
      -ms-flex-preferred-size: clamp( 26.3125rem , -10.2036290323rem  +  76.0752688172vw , 44rem );
          flex-basis: clamp( 26.3125rem , -10.2036290323rem  +  76.0752688172vw , 44rem );
    }
}

@supports not (flex-basis: clamp( 26.3125rem , -10.2036290323rem  +  76.0752688172vw , 44rem )) {
    .main-block__image {
      -ms-flex-preferred-size: calc(26.3125rem + 17.6875 * (100vw - 48rem) / 23.25);
          flex-basis: calc(26.3125rem + 17.6875 * (100vw - 48rem) / 23.25);
    }
}

@supports (height: clamp( 21.0375rem , -7.9173387097rem  +  60.3225806452vw , 35.0625rem )) {
    .main-block__image {
      height: clamp( 21.0375rem , -7.9173387097rem  +  60.3225806452vw , 35.0625rem );
    }
}

@supports not (height: clamp( 21.0375rem , -7.9173387097rem  +  60.3225806452vw , 35.0625rem )) {
    .main-block__image {
      height: calc(21.0375rem + 14.025 * (100vw - 48rem) / 23.25);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 48em) {
  .main-block__image {
    -ms-flex-preferred-size: 26.3125rem;
        flex-basis: 26.3125rem;
  }

  .main-block__image {
    height: 21.0375rem;
  }
}

@media (min-width: 62em) and (max-width: 71.25em) {
@supports (margin-right: clamp( -5.25rem , 35.1891896706rem  +  -56.7567574324vw , 0.0000000625rem )) {
    .main-block__image {
      margin-right: clamp( -5.25rem , 35.1891896706rem  +  -56.7567574324vw , 0.0000000625rem );
    }
}

@supports not (margin-right: clamp( -5.25rem , 35.1891896706rem  +  -56.7567574324vw , 0.0000000625rem )) {
    .main-block__image {
      margin-right: calc(0.0000000625rem + -5.2500000625 * (100vw - 62rem) / 9.25);
    }
}

@supports (margin-right: clamp( -10.6875rem , 71.6351356166rem  +  -115.5405412162vw , 0.0000000625rem )) {
    .download__image {
      margin-right: clamp( -10.6875rem , 71.6351356166rem  +  -115.5405412162vw , 0.0000000625rem );
    }
}

@supports not (margin-right: clamp( -10.6875rem , 71.6351356166rem  +  -115.5405412162vw , 0.0000000625rem )) {
    .download__image {
      margin-right: calc(0.0000000625rem + -10.6875000625 * (100vw - 62rem) / 9.25);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 47.99875em) and (max-width: 71.25em) {
@supports (margin-left: clamp( 0.0000000625rem , -10.4507786645rem  +  21.773022687vw , 5.0625rem )) {
    .about__content:not(:first-child) {
      margin-left: clamp( 0.0000000625rem , -10.4507786645rem  +  21.773022687vw , 5.0625rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -10.4507786645rem  +  21.773022687vw , 5.0625rem )) {
    .about__content:not(:first-child) {
      margin-left: calc(0.0000000625rem + 5.0624999375 * (100vw - 47.99875rem) / 23.25125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 47.99875em) {
  .about__content:not(:first-child) {
    margin-left: 0.0000000625rem;
  }
}

@media (min-width: 30em) and (max-width: 48em) {
@supports (width: clamp( 7.5625rem , 3.9166666667rem  +  12.1527777778vw , 9.75rem )) {
    .download__icon {
      width: clamp( 7.5625rem , 3.9166666667rem  +  12.1527777778vw , 9.75rem );
    }
}

@supports not (width: clamp( 7.5625rem , 3.9166666667rem  +  12.1527777778vw , 9.75rem )) {
    .download__icon {
      width: calc(7.5625rem + 2.1875 * (100vw - 30rem) / 18);
    }
}

@supports (height: clamp( 2.625rem , 1.375rem  +  4.1666666667vw , 3.375rem )) {
    .download__icon {
      height: clamp( 2.625rem , 1.375rem  +  4.1666666667vw , 3.375rem );
    }
}

@supports not (height: clamp( 2.625rem , 1.375rem  +  4.1666666667vw , 3.375rem )) {
    .download__icon {
      height: calc(2.625rem + 0.75 * (100vw - 30rem) / 18);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 71.25em) {
@supports (height: clamp( 22.3125rem , -23.8773621042rem  +  96.2313854094vw , 44.6875rem )) {
    .download__image {
      height: clamp( 22.3125rem , -23.8773621042rem  +  96.2313854094vw , 44.6875rem );
    }
}

@supports not (height: clamp( 22.3125rem , -23.8773621042rem  +  96.2313854094vw , 44.6875rem )) {
    .download__image {
      height: calc(22.3125rem + 22.375 * (100vw - 47.99875rem) / 23.25125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .download__image {
    -ms-flex-preferred-size: 25.25rem;
        flex-basis: 25.25rem;
  }

  .download__image {
    height: 22.3125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (flex-basis: clamp( 18.75rem , 14.1071428571rem  +  23.2142857143vw , 25.25rem )) {
    .download__image {
      -ms-flex-preferred-size: clamp( 18.75rem , 14.1071428571rem  +  23.2142857143vw , 25.25rem );
          flex-basis: clamp( 18.75rem , 14.1071428571rem  +  23.2142857143vw , 25.25rem );
    }
}

@supports not (flex-basis: clamp( 18.75rem , 14.1071428571rem  +  23.2142857143vw , 25.25rem )) {
    .download__image {
      -ms-flex-preferred-size: calc(18.75rem + 6.5 * (100vw - 20rem) / 28);
          flex-basis: calc(18.75rem + 6.5 * (100vw - 20rem) / 28);
    }
}

@supports (height: clamp( 15rem , 9.7767857143rem  +  26.1160714286vw , 22.3125rem )) {
    .download__image {
      height: clamp( 15rem , 9.7767857143rem  +  26.1160714286vw , 22.3125rem );
    }
}

@supports not (height: clamp( 15rem , 9.7767857143rem  +  26.1160714286vw , 22.3125rem )) {
    .download__image {
      height: calc(15rem + 7.3125 * (100vw - 20rem) / 28);
    }
}
}